.custom-height{
    height: 400px;
}

.text{
    text-align: center;
}

.navbar-brand img{
    height: 40px;
    width: 150px;


}


.season_tabs {
    position: relative;   
    min-height: 360px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .season_tab {
    float: left;  
    clear: both;
    width: 286px;
  }
  .season_tab label {
      background: #eee;
      padding: 10px;
      border: 1px solid #ccc;
      margin-left: -1px;
      font-size: 21px;
      vertical-align: middle;
      position: relative;
      left: 1px;
      width: 264px;
      height: 68px;
      display: table-cell;
  }
  .season_tab [type=radio] {
    display: none;   
  }
  .season_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
   }
  .season_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 2px solid #8bc34a;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .season_content {
    z-index: 1;
  }

  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }